@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');


body{
    font-family: 'League Spartan', sans-serif;
    background: rgb(65,13,132);
    background: linear-gradient(315deg, rgba(65,13,132,1) 14%, rgba(110,15,191,1) 42%, rgba(221,9,187,1) 75%)no-repeat
    /* без повторений */;
    color: #fff;
}


.header{
max-width: 998px;
margin: 0 auto;
display: flex; /* показывает все элементы в ряд */
justify-content: space-between; /* все элементы от края до края */
align-items: center; /* все элементы по центру */
padding: 40px 15px 103px 15px ;
}

.header__logo{
    display: block;/* Элемент показывается как блочный. Применение этого значения для встроенных элементов, например тега <span>,
    заставляет его вести подобно блокам — происходит перенос строк в начале и в конце содержимого. */
    width: 132.98px;
    height: 38.84px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat; /* без повторений */
    /* margin-right: -35px; */
}

.form{
    position: relative;/* Положение элемента устанавливается относительно его исходного места. Добавление свойств left, top, right и bottom
    изменяет позицию элемента и сдвигает его в ту или иную сторону от первоначального расположения. */
}

.form__button{
    display: block; /* показывает элементы вертикально */
    background-image: url(../images/search.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat; /* без повторений */
    background-color: transparent; /*прозрачный цвет*/
    border: none;
    position: absolute;
    top: calc(50% - 10px);/* чтобы выбрать центральную точку в блоке "поиск" */
    left: 10px;
}

.form__input{
    width: 248px;
    background: rgba(8, 7, 80, 0.29);
    mix-blend-mode: normal; /* прозрачность */
    border-radius: 20px;
    border: none;
    padding: 10px 52px;
    color: #fff;
}

.form__input::placeholder{
    color: #fff
}
.form__input:focus{
    outline: none;
}

.header__list{
    display: flex; /* показывает все элементы в ряд */
    list-style-type: none; /* убрать точки у ссылок */
    gap: 29px; /* расстояние между ссылками */
}

.header__link{
    color: #fff;
    text-decoration: none; /* убрать нижниб линию у ссылок */
}

.header__link__gradient{
    background: rgb(167,30,47);
    background: linear-gradient(167deg, rgba(167,30,47,1) 30%, rgba(242,29,29,1) 75%);
    mix-blend-mode: normal;
    padding: 10px 16px;
    border-radius: 50px;
}

.container{
    max-width: 998px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main{
    display: flex; /* показывает все элементы в ряд */
    justify-content: space-between; /* все элементы от края до края */
    align-items: center;
}

.main__title{
    font-size: 48px;
    line-height: 44px;
    font-weight: lighter;
    width: 287px;
}

.main__description{
    font-size: 32px;
    line-height: 29px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.51);
    width: 284px;
}

.main__btn__gradient{
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px 20px;
    background: rgb(167,30,47);
    background: linear-gradient(167deg, rgba(167,30,47,1) 30%, rgba(242,29,29,1) 75%);
}

.main__list{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 33px;
}

.main__span{
    display: block;
    text-align: center;
    line-height: 29px;
    font-weight: lighter;
}

.main__img{
    width: 100%;
}

.main__image{
    flex-basis: calc(100% - 400px)
}

.main__text{
    flex-basis: 400px;
}

.title{
    margin-top: 200px;
    margin-bottom: 0 ;
    font-weight: 400;
    font-size: 48px;
    line-height: 44px;
    text-align: center;
}

.desc{
    font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 29px;
text-align: center;
color: rgba(255, 255, 255, 0.51);
margin-top: 30px;
}

.card{
    display: flex; /* показывает все элементы в ряд */
    justify-content: space-between; /* все элементы от края до края */
    margin-left: 132px;
    margin-right: 132px;
    height: 453px;
}

.card__img {
    margin: 24px;
    margin-bottom: 0px;
}

.card__item{
    background: rgba(51, 6, 49, 0.87);
    border-radius: 20px;
    gap: 40px;
}

.card__item:hover{
    background: rgba(175, 145, 174, 0.87);
    color: #1D0995;
    transition: .3s; /* замедление анимации */
}


.card__item2{
    background: rgba(253, 34, 245, 0.74);
}

.card__item3{
    background: #FF8AFADE;
}

.card__info{
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding: 10px;
}

.card__nick{
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.51);
    margin-top:  0 ;
}

.card__author{
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top:  0 ;
}


.card__bid{
    text-align: right;
    margin-top:  0 ;
    padding: 0px;
}

.ay{
    margin-top: 10px;
}

.card__link{
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 50px;
    /* padding: 8px 20px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:50px; */
    display: block;
    text-align: center;
    padding: 5px;
    margin-right:10px;
    margin-left:10px;
    background: rgb(167,30,47);
    background: linear-gradient(167deg, rgba(167,30,47,1) 30%, rgba(242,29,29,1) 75%);
}

.card__nick2{
    
    color: rgba(51, 6, 49, 0.87);
}

.card__author2{
    color: #1D0995;
}

.card__bid2{
    
    color:rgba(96, 20, 219);;
}


.collapsible {
    background-color: transparent;
    color:rgba(255, 255, 255, 0.51);    
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: left;
    outline: none;
    font-size: 20px;
  }
  
  .active, .collapsible:hover {
    background-color: transparent;
    color:rgba(255, 255, 255, 1); 
  }
  
  .collapsible:after {
    content: '\002B';
    color: rgba(255, 255, 255, 0.51); 
    font-weight: lighter;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
    color: rgba(255, 255, 255, 1); 
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .faq{
    display: flex;
    justify-content: space-between;
  }

  .faq__item{
    flex-basis: 48%;
    margin-right: 140px;
    margin-left: 140px;
    margin-bottom: 150px;
  }

  .banner{
    background: rgba(252, 81, 194, 0.96);
    border-radius: 20px;
    padding: 50px 15px;
    text-align: center;
    margin-right: 340px;
    margin-left: 340px;
    margin-bottom: 150px;
  }

  .banner__title{
    font-weight: 400;
    font-size: 40px;
    line-height: 37px;
    max-width: 339px;
    margin: 0 auto 29px;
    
  }

  .banner__link{
    background: rgba(24, 2, 61, 0.31);
    mix-blend-mode: normal;
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    padding: 10px 20px;
    text-decoration: none;
    color:#fff;
    
  }
